@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Inter&family=Lato&family=Montserrat&family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

.wrapper {
  margin: 91px 150px 173px 124px;
}

.maintext {
  display: flex;
  gap: 190px;
  margin-bottom: 94px;
}

h1 {
  position: relative;
  font-weight: 700;
  font-size: 55px;
  bottom: 18px;
}

.text {
  /*width: 662px;
  height: 374px;*/
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

.myphoto {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.photo {
  position: relative;
  width: 314px;
  height: 315px;
  /*top: 135px;*/
  z-index: 1;
}

.ellipse {
  position: relative;
  right: 8px;
  top: -25px;
  z-index: -1;
}

.footers {
  display: flex;

  justify-content: flex-start;
    align-content: flex-start;
  gap: 132px;
}

.siting {
  position: relative;
}

.sitingel {
  position: relative;
  left: 15px;
  bottom: 13px;
  z-index: -1;
}

.flittle {
  width: 150px;
}
.flittle2 {
  width: 150px;
}
.secondp {
  font-size: 18px;
}
.firstp {
  font-size: 25px;
  font-weight: 700;
}
.fimg {
    display: flex;
    flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
}

.ftext {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: inherit;
  /*flex-wrap: wrap;*/
  gap: 95px;
  margin: 0;
  padding: 0;
}

@media (min-width: 376px) and (max-width: 834px) {
  .wrapper {
    margin: 56px 86.69px 180.05px 72px;
  }
  .maintext {
    display: flex;
    gap: 110.04px;
  }

  h1 {
    position: relative;
    font-weight: 700;
    font-size: 32px;
    bottom: 10.42px;
  }

  .text {
    display: flex;
    flex-direction: column;
    
    position: relative;
    margin-bottom: 10px;
    /*width: 383.41px;
    height: 216.61px;*/
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    
  }

  .myphoto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .photo {
    position: relative;
    width: 181.86px;
    height: 182.44px;
    /*top: 135px;*/
    z-index: 1;
  }

  .ellipse {
    position: relative;
    width: 211.98px;
    height: 34.17px;
    top: -18px;
    left: 0;
    
    /*right: 71.63px;*/
  }

  .footers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    /*flex-wrap: wrap;*/
    margin-top: 70.01px;
    gap: 55.02px;
  }

  .ftext {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    gap: 55.02px;
    margin: 0;
    padding: 0;
  }

  .flittle {
    width: 86.88px;
    
  }
  .flittle2 {
    width: 108px;
    
  }
  .secondp {
    font-size: 11px;
  }
  .firstp {
    font-size: 15px;
    font-weight: 700;
  }
  .fimg {
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
  }
  
}

@media (max-width: 375px) {
  .wrapper {
    margin: 56px 30.53px 124px 36px;
  }

  .maintext {
    display: flex;
    flex-direction: column;
    gap: 56px;
    /*margin-right: 20%;*/
  }

  h1 {
    position: relative;
    font-weight: 700;
    font-size: 26px;
    bottom: 8.39px;
  }

  .text {
    /*width: 308.47px;
    height: 174.27px;*/
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  .myphoto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .photo {
    /*position: relative;*/
    width: 146.32px;
    height: 146.78px;
    /*top: 135px;*/
    top: 20px;
    /*left: 20%;*/
    z-index: 1;
  }

  .ellipse {
    position: relative;
    width: 170.55px;
    height: 27.49px;
    left: 3px;
    top: 9px;
    /*right: 50px;*/
  }

  .footers {
    display: flex;

    margin-top: 59.22px;
    justify-content: flex-start;
    align-content: flex-start;
    /*gap: 55.02px;*/
  }
  .ftext {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 36.61px;
    margin-top: 59.22px;
    margin: 0;
    padding: 0;
  }
  .flittle {
    width: 86px;
    margin: 0;
  }
  .flittle2 {
    width: 86.89px;
    margin: 0;
  }
  .secondp {
    font-size: 10px;
  }
  .firstp {
    font-size: 12px;
    font-weight: 700;
  }
  .fimg {
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
  }
}
